/* Fonts */
@font-face {
  font-family: 'BIDI';
  src: url('./fonts/BIDI.ttf') format('truetype');
}

@font-face {
  font-family: 'BidiStylishHi_res-Regular';
  src: url('./fonts/BidiStylishHi_res-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lenda';
  src: url('./fonts/TrajanPro-Regular.otf') format('truetype');
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #2f373d;
}

/* Container */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

textarea,
p,
.button {
  font-size: 2em;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  resize: vertical;
}

#change-font {
  font-size: 1.2em;
  width: auto;
  align-self: flex-start;
  cursor: pointer;
  background-color: #fff;
}

#change-font span {
  font-family: 'BidiStylishHi_res-Regular';
}

#bidi-result {
  word-break: break-all;
  font-size: 3em;
  color: #fff;
  font-family: 'BIDI';
  height: 125px;
  overflow-x: auto;
  padding: 10px;
  border: 2px solid #fff;
  white-space: pre-wrap;
}

#bidi-phrase {
  background-color: #fff;
  color: #000;
  height: 125px;
  word-break: break-all;
  overflow-y: scroll;
  white-space: pre-wrap;
}

#bidi-phrase:empty::before {
  content: attr(data-placeholder);
  color: rgba(0, 0, 0, 0.55);
  font-weight: 500;
}

.wrong {
  color: #e40000;
}

.actions {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: center;
}

/* Errors */
.errors-container {
  width: 90%;
  display: none;
  gap: 20px;
}

#errors-btn {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-weight: bold;
  background-color: #e40000;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
}

.errors-container .errors {
  background-color: #2f373d;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  display: none;
  max-height: 500px;
  overflow-y: auto;
}

.errors-container .errors table {
  border-collapse: collapse;
  border: 2px solid #fff;
}

table th,
table td {
  padding: 10px;
  border: 2px solid #fff;
  max-width: 300px;
  overflow-x: auto;
}

@media (max-width: 425px) {
  input,
  p {
    font-size: 1.6em;
  }
}
